<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.karim.ingetin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DemoMainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".TentangKamiActivity"
            android:label="Tentang Kami"
            android:parentActivityName=".MainActivity" />


        <activity
            android:name=".AddActivity.AddTugasActivity"
            android:label="Tambah Tugas"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".AddActivity.AddOrganisasiActivity"
            android:label="Tambah Organisasi"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".AddActivity.AddLainnyaActivity"
            android:label="Tambah Lainnya"
            android:parentActivityName=".MainActivity" />


        <activity
            android:name=".EditUserActivity"
            android:label="Edit User"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".PeringatanActivity"
            android:label="Pengaturan Peringatan"
            android:parentActivityName=".MainActivity" />


        <activity android:name=".EditActivity.EditTugasActivity"
            android:label="Edit Tugas"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".EditActivity.EditOrganisasiActivity"
            android:label="Edit Organisasi"
            android:parentActivityName=".MainActivity" />

    </application>

</manifest>